.logo {
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  user-select: none;
  align-items: center;

  & > img {
    width: 40px;
    height: inherit;
  }

  & > h1 {
    font-size: 1.6em;
    margin-left: 10px;
  }
}

@media (max-width: 540px) {
  .logo > h1 {
    display: none;
  }
}
